@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: #3a4052;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open", sans-serif;
    line-height: 2.5;
}

a {
    text-decoration-color: none;
    color: var(--primary-color);
}

h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1.5px;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: black;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color);
}

.content {
    z-index: 10;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.95);
}

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;

}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 5px;
}

a.btn {
    color: black;
    font-size: 20px;
    border: black solid;
    border-radius: 5px;
}


.storecolor {
    border: black solid;
    border-width: 3px;
}